version: '3.7'
services:
  discovery-services:
    image: discovery-services:0.1
    ports:
    - "8761:8761"
  zipkin-service:
    image: zipkin-service:0.1
    ports:
        - "9411:9411"
    depends_on:
        - discovery-services
    links:
        - discovery-services:discovery-services
  api-gateway:
    image: api-gateway:0.1
    ports:
      - "8762:8762"
    depends_on:
      - discovery-services
    links:
      - discovery-services:discovery-services
  diary-service:
    image: diary-service:0.1
    ports:
      - "8008:8008"
    depends_on:
      - discovery-services
    links:
      - discovery-services:discovery-services
  diary-composite-service:
    image: diary-composite-service:0.1
    ports:
      - "8089:8089"
    depends_on:
      - discovery-services
    links:
      - discovery-services:discovery-service
  redis:
    image: redis:alpine
    hostname: redis-server
    ports:
      - "6379:6379"
